a {
    text-decoration: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1;
}
.menu {
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    list-style: none;
    transform: translateX(100%);
    transform: transform ;
}

.menu-link {
    display: block;
    padding: 10px;
    color: #333;
    border-bottom: 1px solid;
}