a {
    text-decoration: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1;
}
.menu {
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    list-style: none;
    transform: translateX(100%);
    transition: transform  0.25s linear;
}

.menu.is-show {
    transform: translate(0);
}

.menu-link {
    display: block;
    padding: 10px;
    color: #333;
    border-bottom: 1px solid;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal-content {
    max-width: 600px;
    padding: 25px;
    border-radius: 20px;
    background-color: #fff;
}
